.profile__edit-button {
    background-image: url("/images/Edit_Button.png");
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    margin-left: 5px;
    margin-bottom: 11px;

}
