.profile {
    display: flex;
    max-width: 880px;
    justify-content: start;
    align-items: center;
    font-family: Inter, Arial, Arvo, serif;
    /*grid-template-columns: 17% 65% 17%;
    grid-template-rows: 60px 60px;*/
}
